* {
	box-sizing: border-box;
}

/* Navigation */
.topnav {
  overflow: hidden;
  background-color: #C89FA3;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #29275A;
  color: white;
}

.topnav .icon {
  display: none;
}

/* Basic Styling */
main {
	float: left;
	width: 100%;
	overflow: hidden;
}

body {
	background-color: #F0E6E5;
	font-family: Verdana, Geneva,sans-serif;
	font-weight: normal;
	line-height: 1.2em;
	margin:0;
}

h1, h2, h3  {
	line-height: 1.2em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #29275A;	
}
h1 {	
	font-size: 72px;
	line-height: 1em;
		margin: 0;
}
h3 {	
	line-height: 1em;
	margin: 0;
}

h4, p {
	line-height: 1.3em;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	color: #29275A;
}

a:hover {
	text-decoration: none;
	background-color: #aaa;
}

a:active {
	background-color: #29275A;
}

/* Footer */
footer {
	background-color: #C89FA3;	
	box-sizing: content-box;
	text-align: center;
	min-height: 20px;
	left: 0px;
	bottom: 0px;
	padding: 10px;
	margin-top: 7px;
	font-size: 12px;
	width: 100%;
	position: fixed;
}

#footer_placeholder{
	position: relative;
		left: 0px;
	bottom: 0px;
	width: 100%;
	min-height: 20px;
	padding: 10px;
	font-size: 12px;
	box-sizing: content-box;
}

/* Skip to Content */
a.skip {
	background: white;
	left: 0;
	padding: 6px;
	position: absolute;
	top: -40px;
	transition: top 1s ease-out;
	z-index: 1;
}

a.skip:focus {
	top: 20px;
	color: black;
	-webkit-text-decoration-style: solid;
	        text-decoration-style: solid;
}

/* Home Page */
#index_text {
	margin: 30px 0 20px 10%;
	max-width: 800px;
}

.cover{
  width: 100%;
  height: 360px;
  position: relative;
	overflow: hidden;
}
.cover h2{
  position: relative;
  display: block;
	text-align: center;
  margin: 0;
	top: 50%;
	 transform: translate(0, -50%);
	font-size: 5vw;
	font-family: Verdana, Geneva,sans-serif;
	text-transform: uppercase;
  color: #999;
	font-weight: lighter;
	mix-blend-mode: multiply;
}
.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
	object-fit: cover;
  pointer-events: none
}

/* Doodle Grid */
#doodle_grid {
	display: grid;
	grid-template-rows: repeat(auto_fill, minmax(50px, 1fr));
	grid-template-columns: repeat(6, minmax(50px, 1fr));
	row-gap: 10px;
	column-gap: 10px;
}

#doodle_grid > div {
	position: relative;
	object-fit: cover;
}

#doodle_grid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

#doodle_grid > div > img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

#doodle_grid > div > img:hover {
	mix-blend-mode: multiply;
}

#doodle_grid_large {
	grid-row: 1/span 3;
	grid-column: 1/span 3;
}

/* Contact */
#contact_text {
	margin: 30px 0 20px 10%;
	max-width: 600px;
}

/* Portfolio Page */
#portfolio_flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
	position: relative;
}

.portfolio-item {
	position: relative;
	object-fit: cover;
	overflow: hidden;
	flex-grow: 1;
	flex-basis: 50%;
	padding: 5px 10px;
}

.portfolio-item > img {
	display: block;
  width: 100%;
	height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
	opacity: 0;
	visibility: hidden;
	margin: 5px 10px;
	color: #FFFFFF;
	font-family: Verdana, Geneva,sans-serif;
	font-size:1.5em;
	font-weight: 300;
	line-height: 1.3em;
	background-color: rgba(38, 113, 243, 0.3);
	align-items: center;
	justify-content: center;
	display: flex;
	-webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out; 
}

.portfolio-item:hover .overlay {
	visibility: visible;
  opacity: 1;
}

/* Tablet View */
@media screen and (max-width: 768px) {
	/* Doodle Grid */
	#doodle_grid {
	display: grid;
	grid-template-rows: repeat(auto_fill, minmax(50px, 1fr));
	grid-template-columns: repeat(4, minmax(50px, 1fr));
	row-gap: 10px;
	column-gap: 10px;
	}

	/* Home Page */
	#index_text {
		margin: 20px 10px 20px 10px;
	}
	#index_text h1 {
		font-size: 24px;
	}

	/* Contact Page */
	#contact_text {
		margin: 10px;
	}

	#contact_text h1 {
		font-size: 24px;
	}

	/* Portfolio Page */
	.portfolio-item {
		flex-basis: 384px;
	}
	.overlay {
	visibility: visible;
	margin: 0px;
	color: #666;
	background-color: rgba(38, 113, 243, 0);
	opacity: 1;
	mix-blend-mode: multiply;
}

}

/* Mobile view */
@media screen and (max-width: 480px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
	}

	/* Doodle Grid */
	#doodle_grid {
		grid-template-rows: repeat(auto_fill, minmax(50px, 1fr));
		grid-template-columns: repeat(2, minmax(50px, 1fr));
		row-gap: 0px;
		column-gap: 0px;
	}
	#doodle_grid > div{
		border: 0.1px solid black;
	}
	#doodle_grid_large {
	grid-row: 1/span 1;
	grid-column: 1/span 1;
	}

	/* Portfolio Page */
	.portfolio-item {
		padding: 0px;
	}
	.overlay {
	color:#000;
	font-size: 16px;
	}
}

/* Reduced Motion */
@media (prefers-reduced-motion: reduce) {
  .overlay  {
    transition: none;
  }
}